<div class="d-flex justify-content-center w-100">
  <p-progressSpinner *ngIf="loading"></p-progressSpinner>
</div>
<div *ngIf="!loading" class="d-flex flex-column mt-2 w-100">

  <div class="description-container d-flex flex-column">

      <label>Detalhes do Imóvel:</label>
      <div class="d-flex ml-3 mr-2">
        <div *ngFor="let prop of propList; let i = index">
          <p-card header="none" subheader="Santa Rita do Sapucaí"
            [style]="{width: '200px', display: 'flex', justifyContent: 'center', alignItems: 'center', height: '120px', margin: '18px'}"
            styleClass="ui-card-shadow">
            <div class="detail-card-container">
              <span class="{{prop.icon}} detail-card-image"></span>
              <p class="detail-card-label">{{prop.name}}</p>
              <p class="detail-card-label">{{prop.value}}</p>
            </div>
            <span *ngIf="auth.isLoggedIn()"
              class="fa fa-edit edit-property"
              (click)="showEditDialog(prop.name, prop.field)"></span>
          </p-card>
        </div>
      </div>

  </div>

  <div *ngIf="auth.isLoggedIn()" class="d-flex justify-content-center mt-2" style="height:39px;">
    <div style="position: relative" class="mt-2">
      <input #fileInputEdit type="file" (change)="onFileSelected($event)" multiple>

      <button id="select-btn-edit"
        type="button"
        (click)="fileInputEdit.click()"
        class="btn btn-danger btn-sm mt-2 ml-1">
          Selecionar imagens...
      </button>

      <button type="button"
        class="btn btn-sm btn-success ml-3"
        (click)="onUpload()"
        cWidth="120px">
          Enviar imagens...
      </button>
    </div>

    <p-progressSpinner *ngIf="loading"></p-progressSpinner>
  </div>

  <div class="images-container mt-3">
    <div *ngFor="let img of houseImageList; let i = index" class="house-list">
      <div class="wrapper">
        <img class="edit-image" src="{{img}}" (click)="showDialog(img, i)" target="imgbox">
        <div *ngIf="auth.isLoggedIn()" class="remove-btn btn btn-danger btn-sm" (click)="updRemoveImage(i)">
            <i class="fa fa-trash"></i>
        </div>
      </div>
    </div>
  </div>

</div>
<!--<button type="button" routerLink="/list-houses" class="btn btn-danger btn-sm mt-2 ml-1">Voltar</button>-->

<p-dialog id="galeryDiag"
  #presetDiag [showHeader]="false"
  [(visible)]="displayDialog"
  [modal]="true"
  [responsive]="true"
  [minY]="70"
  [baseZIndex]="10000"
  [height]="heightExp"
  [width]="widthExp">

  <div class="d-flex flex-row-reverse" cWidth="100%">
    <label class="close-dialog" (click)="displayDialog = false">Fechar [x]</label>
  </div>

  <div class="gallery-container">
    <div class="circle prev-btn" (click)="prevImage()">
      <span class="fa fa-angle-left prev-arrow-image"></span>
    </div>
    <img src="{{currentImgUrl}}" class="gallery-img-box" [width]="widthExp -80" [height]="heightExp - 50">
    <div class="circle next-btn" (click)="nextImage()">
      <span class="fa fa-angle-right next-arrow-image"></span>
    </div>
  </div>

</p-dialog>

<p-dialog #propertyDiag
  header="{{dialogObj.name}}"
  [showHeader]="true"
  [(visible)]="displayPropDialog"
  [modal]="true"
  [responsive]="true"
  [minY]="70"
  [baseZIndex]="10000"
  [width]="200"
  [height]="350">

    <div class="d-flex justify-content-center">
      <input #inputValue cWidth="75px" class="form-control">
    </div>
    <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="update(dialogObj.field, inputValue.value)" label="Yes"></button>
      <button type="button" pButton icon="pi pi-close" (click)="displayPropDialog=false" label="No" class="ui-button-secondary"></button>
    </p-footer>

</p-dialog>
