#select-btn-edit:focus, #select-btn-edit:active {
  outline: none !important;
  box-shadow: none;
}

#select-btn-edit {
  position: absolute !important;
  top: -8px !important;
  left: -8px !important;
}

.next-btn {
  position: absolute !important;
  margin-top: 38.5vh;
  margin-left: -14px;
}

.remove-btn {
  position: absolute !important;
  /*margin-top: 1vh;*/
  margin-left: -30px;
  /*display: none;*/
}

.prev-btn {
  position: absolute !important;
  margin-top: 38.5vh;
  margin-left: 2px;
}

.close-dialog {
  margin-right: 35px;
  cursor: pointer;
  margin-top: -5px;
  margin-bottom: 4px;
  font-size: 15px;
  color: white;
}

.close-image {
  color: black;
  font-size: 22px;
}

/*.ui-widget-overlay {
  background-color: rgba(0, 0, 0, 0.88) !important;
}
*/

.mystyle {
  background-color: rgba(0, 0, 0, 0.88) !important;
}

#galeryDiag .ui-dialog .ui-dialog-content {
  background-color: inherit !important;
  color: #333333 !important;
  border: none !important;
  padding: 0 0.5em !important;
}

.next-arrow-image {
  color:black;
  font-size:26px;
  margin-left:14px;
  margin-top: 4px;
}

.prev-arrow-image {
  color:black;
  font-size:26px;
  margin-left:10px;
  margin-top: 4px;
}

.detail-card-image {
  color: #FF7900;
  font-size: 21px;
  margin-bottom: 4px;
}

.detail-card-label {
  font-size: 13px;
  color: #253d4a;
  /*text-transform: uppercase;*/
  font-weight: 700;
}

.detail-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  height: 37px;
  width: 37px;
  border-radius: 50%;
  cursor:pointer;
  display: inline-block;
  border: 1px solid #272828;
  /*background: #272828;*/
  background: white;
}

.edit-property {
  margin-left: 140px;
  margin-top: -16px;
  font-size: 20px;
  /* position: absolute; */
  cursor: pointer;
  /* height: 0; */
  display: flex;
}

.gallery-container {
  position: relative;
  max-width: 100%;
}

.gallery-img-box {
  margin-left: 30px;
  margin-right: 5px;
}

.description-container {
  border-bottom: 1.4px solid #f1f1f1;
}

.description-container label {
  font-size:26px;
  text-align: center;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 1150px;
}

.images-container .wrapper {
  position: relative;
  cursor: pointer;
}

.images-container .house-list {
  margin-right: 2px;
  margin-top: 2px;
}

.images-container .edit-image {
  max-width:380px;
  height:230px;
}

.edit-image:hover + .remove-btn {
  display: inline-block;
}