<!--<div class="d-flex mt-2" style="height:39px">
    <div style="position: relative" class="mt-2">
      <input #fileInput2 type="file" (change)="onFileSelected($event)" multiple>
      <button id="select-btn-edit" type="button" (click)="fileInput2.click()" class="btn btn-danger btn-sm mt-2 ml-1">Selecionar imagens...</button>
    </div>
    <input type="button" class="btn btn-danger btn-sm mt-2 ml-1" value="Fazer upload" (click)="onUpload()">

    <p-progressSpinner *ngIf="loading"></p-progressSpinner>
  </div>
-->
<div class="d-flex flex-column mt-2" style="width:100%">

  <div id="description-div" class="d-flex flex-column" style="width:100%; border-bottom: 1.4px solid #f1f1f1; margin-left:10%">
      <label style="font-size:26px">Detalhes do Imóvel:</label>
      <div class="d-flex ml-3 mr-2" style="width:70%">
        <!-- <div class="d-flex ml-2">
          <label style="margin-right:6px;font-size:20px">Tipo:</label>
          <label style="font-size:20px; color:red">Locação</label>
        </div>
        <div class="ml-2" style="margin-bottom:10px">
            <div><span class="fa fa-long-arrow-right mr-1 arrow-image"></span>2 dormitórios</div>
            <div><span class="fa fa-long-arrow-right mr-1 arrow-image"></span>1 sala</div>
            <div><span class="fa fa-long-arrow-right mr-1 arrow-image"></span>1 banheiro</div>
            <div><span class="fa fa-long-arrow-right mr-1 arrow-image"></span>1 vaga</div>
            <div><span class="fa fa-long-arrow-right mr-1 arrow-image"></span>1 cozinha</div>
        </div> -->
        <div *ngFor="let prop of propList; let i = index">
          <p-card header="none" subheader="Santa Rita do Sapucaí"
            [style]="{width: '200px', display: 'flex', justifyContent: 'center', alignItems: 'center', height: '120px', margin: '18px'}" styleClass="ui-card-shadow">
            <div class="detail-card-container">
              <span class="{{prop.icon}} detail-card-image"></span>
              <p class="detail-card-label">{{prop.name}}</p>
              <p class="detail-card-label">{{prop.value}}</p>
            </div>
          </p-card>
        </div>
      </div>
  </div>

  <div id="images-div" class="d-flex flex-wrap justify-content-center mt-3" style="width:100%">
    <div *ngFor="let h of houseImageList; let i = index" style="margin-right: 2px; margin-top: 2px">
      <div style="cursor: pointer;">
        <img src="{{h.imageUrl}}" (click)="showDialog(h.imageUrl, i)" target="imgbox" style="max-width:380px;height:230px">
      </div> <!--width="380px" height="230px"-->
    </div>
  </div>

</div>
<!--<button type="button" routerLink="/list-houses" class="btn btn-danger btn-sm mt-2 ml-1">Voltar</button>-->

<p-dialog #presetDiag [showHeader]="false" [(visible)]="displayDialog" [modal]="true" [responsive]="true" [minY]="70"
    [baseZIndex]="10000" [height]="heightExp" [width]="widthExp">

    <div class="d-flex flex-row-reverse" cWidth="100%">
      <span class="fa fa-close close-dialog" (click)="displayDialog = false"></span>
    </div>

    <div style="position: relative" style="max-width: 100%; max-height: 90%">
      <span class="fa fa-angle-left next-btn" (click)="prevImage()" style="color:red;font-size:60px;cursor:pointer;"></span>
      <img src="{{currentImgUrl}}" style="margin-left: 30px; margin-right: 5px" [width]="widthExp -80" [height]="heightExp - 50">
      <span class="fa fa-angle-right next-btn" (click)="nextImage()" style="color:red;font-size:60px;cursor:pointer;"></span>
    </div>
</p-dialog>
