.box-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 17px;
  border-radius: 7px;
  background: #fafafa;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  line-height: 0.95em;
  font-size: 0.87em;
}
