<header class="title">
  <h4>Detalhe de CDR</h4>
</header>
<div class="d-flex flex-column align-items-center">
    <div class="box-detail">
      <div class="d-flex">
      <div class="d-flex flex-column" style="margin-right: 100px;">
          <label>Subscriber</label>
          <label>Data</label>
          <label>Horário</label>
          <label>Origem</label>
          <label>Destino</label>
          <label>Duração</label>
          <label>Valor</label>
          <label>Tipo de usuário que originou</label>
          <label>Status</label>
          <label>Tipo de chamada (número discado)</label>
          <label>Tipo de chamada (classificação)</label>
          <label>Tipo Origem (aparelho)</label>
          <label>Tipo Destino (aparelho)</label>
          <label>Chamada pós-paga</label>
          <label>Chamada pré-paga</label>
          <label>Chamada a cobrar</label>
          <label>Roaming de Destino</label>
          <label>Chamada originada em telefone público (local)</label>
          <label>Chamada originada em telefone público (interurbano)</label>
          <label>ISDN</label>
          <label>Rota e circuito de entrada</label>
          <label>Rota e circuito de saída</label>
          <label>Switch</label>
          <label>Número discado</label>
          <label>Número que pagará pela chamada</label>
          <label>Arquivo</label>
          <label>EOT A#</label>
          <label>Holding #B</label>
          <label>Eot da rota de entrada</label>
          <label>Holding da rota de entrada</label>
          <label>TTON</label>
          <label>Nome da rota de entrada</label>
          <label>Nome da rota de saída</label>
          <label>Nome do Switch (Central)</label>
          <label>Data e Hora da carga da CDR</label>
          <label>Roaming de Origem</label>
          <label>Data e hora processado</label>
          <label>Data e hora envio HPFMS</label>
      </div>
      <div style="display:flex; flex-direction: column;">
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
          <label>testando</label>
      </div>
      </div>
      <button type="button" (click)="back()" style="width:100px" class="btn btn-info btn-sm mt-2">Voltar</button>
    </div>
</div>

