<div id="terminalGroupList" style="min-width:1000px">
  <header class="title">
    <h3>Grupo de terminal</h3>
  </header>
  <button class="btn btn-info mt-1 mb-3" (click)="addGroup()"> Adicionar grupo</button>
  <table class="table table-striped" style="background: #fafafa">
    <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Tipo</th>
      <th>Notas</th>
      <th>Tipo de Grupo Especial</th>
      <th>Lista de Terminais</th>
      <th>Tipo de terminal</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let group of groups">
      <td>{{group.groupName}}</td>
      <td>{{group.groupDescription}}</td>
      <td>{{group.groupType}}</td>
      <td>{{group.notes}}</td>
      <td cWidth="220px">{{group.specialGroupType}}</td>
      <td cWidth="180px">{{group.terminalList}}</td>
      <td cWidth="180px">{{group.terminalType}}</td>
      <td cWidth="165px">
        <button class="btn btn-sm btn-info" (click)="editGroup(group)"> Edit</button>
        <button class="btn btn-sm btn-info" (click)="deleteGroup(group)" style="margin-left: 15px;"> Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
