input, textarea {
  max-width: 450px;
}

.form-group {
  width: 350px;
  margin-bottom: 20px;
}

form .form-group:nth-child(even) {
  margin-left: 80px;
}

header {
  color: #000;
  background-color: #fafafa;
  border-color: #bce8f1;
  padding: 6px 10px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

form {
  background-color: #fafafa;
  padding-bottom: 22px;
  /*border-color: #bce8f1;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);*/
}
