/*#id label {
  line-height: 0.81em !important;;
  font-size: 0.87em !important;;
}*/

.home-image {
  max-width: 1285px;
  max-height: 723px;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  margin-top: 15px;
}

.address {
  background: white;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 12%;
  padding-left: 10%;
}

.address-box {
  width: 220px;
  display: flex;
  align-items: center;
}

.row-filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: #0482D6;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.orderingPanel .large {
  width: 123px;
}

.orderingPanel .small {
  width: 80px;
}

.orderingPanel label, .orderingPanel input, .orderingPanel button, .orderingPanel select {
  margin-left: 20px;
}

.range {
  margin-top: -8px;
  margin-bottom: 8px;
  color: white;
  font-weight: 700;
  font-size: 15px;
}

.facebook {
  background: blue;
  width: 20px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.log-btn {
  display: flex;
  height: 23px;
  align-self: center;
  align-items: center;
}

.address-text {
  position: relative;
  line-height: 20px;
  font-size: 13px;
  color: #253d4a;
}

body .ui-slider .ui-slider-range {
  background-color: red !important;
}

.cancel-btn {
  margin-right: 10px !important;
  width: 90px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  padding-right: 13px;
}

.label-login {
  font-weight: 700;
}

.login-dialog {
  top: 180px !important;
}

/*body .ui-corner-all {
  border-radius: 6px !important;
}*/
