<div id="wrap" #wrap>
  <div class="d-flex flex-column">
    <div id="wrapper">
      <nav class="navbar navbar-expand navbar-dark flex-row bd-navbar" [ngStyle]="{'width.px': widthExp}">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto" style="margin-right:15%">
            <li class="nav-item">
              <a class="nav-link" *ngIf="!authService.isLoggedIn()" (click)="displayLoginDialog = true">
                Área do administrador
              </a>
              <a class="nav-link" *ngIf="authService.isLoggedIn()" (click)="logout()">
                Bem vindo administrador! (logout)
              </a>
            </li>
            <li class="nav-item facebook">
              <a href="http://localhost:8081/login/facebook" target="_blank" shape="rect">
                <span class="fa fa-facebook-f"></span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="address">
      <div>
        <img src="../assets/img/logo-ex.png" routerLink="" alt="logo" width="83px" height="83px">
      </div>

      <div class="address-box">
        <div class="icon-box mr-3"><span class="fa fa-map-marker address-box-icon"></span></div>
        <div class="address-text">Rua do cliente a colocar, 297<br>Santa Rita do Sapucaí</div>
      </div>

      <div class="address-box">
        <div class="icon-box mr-3">
          <span class="fa fa-phone address-box-icon"></span>
        </div>
        <div class="address-text">(35) 3471-2323 (35) 3471-1234<br>Seu e-mail</div>
      </div>

    </div>

    <form [formGroup]="formEstate" novalidate>
      <div class="row orderingPanel orderingPanelFirst">
        <div class="col-sm-12 row-filters p-2" style="height:56px;">
          <div class="d-flex align-items-center" style="width: 990px">
            <div>
              <p-selectButton
                [options]="durationTypeOptions" optionLabel="name" formControlName="purpose">
              </p-selectButton>
            </div>

            <app-single-control-component label="Tipo" [control]="formEstate.controls['type']" [list]="types">
            </app-single-control-component>

            <app-single-control-component label="Quartos" [control]="formEstate.controls['dorm']" [list]="rooms">
            </app-single-control-component>

            <app-single-control-component label="Cidade" [control]="formEstate.controls['city']" [list]="cities">
            </app-single-control-component>

            <app-single-control-component label="Bairro" [control]="formEstate.controls['district']" [list]="neightborhoods">
            </app-single-control-component>

            <div style="margin-left: 20px">
              <div class="range">
                {{ f.rangeValues.value[0] | rangeValues: f.rangeValues.value[1] }}
              </div>
              <p-slider formControlName="rangeValues"
                [step]="100"
                [min]="0"
                [max]="5000"
                [style]="{'width':'12em'}"
                [range]="true">
              </p-slider>
            </div>
            <button type="button" class="btn btn-danger search-btn" (click)="navigate()">Buscar</button>
          </div>

        </div>

      </div>
    </form>

    <!-- main area-->
    <div class="mainarea pl-1 pr-1" style="width:100%;">
      <div #main id="main" class="h-100 d-flex" style="margin-bottom: 19px" ng-view>
        <router-outlet class="router-outlet"></router-outlet>
      </div>
    </div>
  </div>
</div>

<div id="footer" [ngStyle]="{'width.px': widthExp}">
  <div class="footer-container">
    <!--<p>Version: {{version}}</p>-->
    <p>Copyright © 2019 Todos os direitos reservados. @Ferraz</p>
  </div>
</div>

<p-dialog #loginDiag
  header="Área do administrador"
  [showHeader]="true"
  [(visible)]="displayLoginDialog"
  [modal]="true"
  [responsive]="true"
  [minY]="70"
  [baseZIndex]="10000"
  [width]="360"
  styleClass="login-dialog">

    <form [formGroup]="loginForm" id="LoginForm" novalidate>
      <div class="d-flex flex-column">
        <label class="label-login">Usuário</label>
        <input cWidth="240px" class="form-control mb-2" formControlName="user">
        <label class="label-login">Senha</label>
        <input cWidth="240px" class="form-control mb-2" type="password" formControlName="password">
      </div>
      <p-footer class="d-flex" style="margin-top: 22px">
        <button type="button" class="btn btn-sm btn-success" cWidth="120px" (click)="login()">Login</button>
      </p-footer>
    </form>

</p-dialog>

<p-dialog #loadingDiag [showHeader]="false" [(visible)]="displayLoadingDiag" [modal]="true"
  [responsive]="true" [minY]="70" [baseZIndex]="10000" [width]="280" [height]="350">
    <p-progressSpinner></p-progressSpinner>
</p-dialog>
