#select-btn:focus, #select-btn:active {
  outline: none !important;
  box-shadow: none;
}

#select-btn {
  position: absolute !important;
  top: -8px !important;
  left: -8px !important;
}

.label-login {
  font-weight: 700;
}

#addNewHouseForm {
  display: flex;
  flex-direction: column;
}

.house-container {
  margin-top:1px;
  width: 650px;
  height:400px
}

.select-house {
  margin-bottom: .5rem;
}

.send-container {
  height:39px;
}

.add-label {
  font-size: 22px;
}