
<div class="chartBox">
  <p-progressSpinner *ngIf="!destinationChart"></p-progressSpinner>
  <div *ngIf="destinationChart" [chart]="destinationChart"></div>
</div>
<div class="chartBox">
  <p-progressSpinner *ngIf="!totalValueChart"></p-progressSpinner>
  <div *ngIf="totalValueChart" [chart]="totalValueChart"></div>
</div>
<div class="chartBox">
  <p-progressSpinner *ngIf="!cdrChart"></p-progressSpinner>
  <div *ngIf="cdrChart" [chart]="cdrChart"></div>
</div>

<button type="button" (click)="back()" style="margin-left:48%" class="btn btn-info btn-sm mt-2">Voltar</button>
