#listCard .ui-card-content {
  display: flex;
}

.details-btn {
  position: absolute;
  margin-left: 630px;
  margin-top: 160px;
}

.delete-btn {
  position: absolute;
  margin-left: 596px;
  margin-top: 160px;
}
