<button type="button" *ngIf="authService.isLoggedIn()" routerLink="/add-house" class="btn btn-danger btn-sm mt-2 ml-2">Adicionar Novo</button>

<div class="d-flex justify-content-center" style="width:100%">
    <p-progressSpinner *ngIf="loading"></p-progressSpinner>
</div>

<div *ngFor="let house of houseList; let i = index">
  <p-card id="listCard" header="CASA" subheader="Santa Rita do Sapucaí" [style]="{width: '760px', margin: '18px'}" styleClass="ui-card-shadow">
    <div (click)="detailBtn.click()" style="cursor:pointer"><img src="{{house.imageUrl}}" width="300px" height="180px"></div>
    <div class="d-flex flex-column ml-4 mr-2" style="width:310px">
      <div style="color:#019DA5; font-size:18px">CASA</div>
      <div>Santa Rita do Sapucaí - MG</div>
      <div>Centro</div>
      <div style="margin-left:-2px">
        <ul>
          <li>2 dormitórios</li>
          <li>1 sala</li>
          <li>1 banheiro</li>
          <li>1 vaga</li>
          <li>1 cozinha</li>
        </ul>
      </div>
    </div>
    <div>
        <div>CÓDIGO</div>
        <div>0001</div>
        <div>Locação</div>
        <div style="color:#019DA5; font-size:16px">R$ 1900,00</div>
    </div>
    <button type="button" *ngIf="authService.isLoggedIn()" (click)="delete(house.id)" class="btn btn-danger btn-sm delete-btn"><i class="fa fa-trash"></i></button>
    <button #detailBtn type="button" [routerLink]="['/detail-house']" [queryParams]="{ id: house.id}" class="btn btn-danger btn-sm details-btn">Ver detalhes</button>
  </p-card>
</div>
