#listCard .ui-card-content {
  display: flex;
}

.details-btn {
  position: absolute;
  margin-left: 745px;
  margin-top: 140px;
}

.delete-btn {
  position: absolute;
  margin-left: 696px;
  margin-top: 140px;
}

.ui-card-body {
  padding: 0;
}
